<div class="row text-center">
  <div class="col-8 text-left" >
    <h4><p class="fw-bold fs-4 p-3 px-4 text-center text-muted">Articles:</p></h4>
    <ul>
      <% @articles.each do |article| %>

        <% unless article.archived? %>
          <div class="d-inline text-center p-4 bg-light ">
            <%= link_to article.title, article %>
          </div>
        <% end %>
      <% end %>
    </ul>

    <p class="fs-6 fw-bold p-3"> <%= link_to "New Article", new_article_path %></p>

  </div>
  <div class="col-4 p-4 text-center">
    <img class="rounded float-right"><%= image_tag(current_user.avatar.url(:medium)) %></img>
    <p class="fs-5 text-center fst-italic text-muted mt-0 p-2 ml-5" >Hello, <%= current_user.email %></p>
  </div>
</div>












